// Your Sass goes here...
//simple css reset
* {
    margin: 0;
    padding:0;
}
//change font family to what I think it is in the picture
html {
    //looks like the font in the image? hard to tell
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
//center div
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0 auto;
    border: 1px solid #D7D9E9;
    border-radius: 5px;
    width: 400px;
    height: 250px;

    label, input[type=text] {
        display:block;
    }

    .top h1 {
        padding:15px 20px;
        margin:0;
        font-size: 20px;
        font-weight: 500;
    }
    .top:after {
        content:"";
        display:block;
        margin:0 auto;
        width:100%;
        border-bottom: 1px solid #D7D9E9;
    }
    .body {
        padding:20px;
    }
    #getWeather {
        // for button: font seems a little off but it's really hard to tell when looking at such a small picture
        button {
            border-radius:20px;
            background:#4C6698;
            border: 0.5px solid #4C6698;
            color:#FCFDFD;
            padding:6px 12px;
            margin-top: 2px;
            margin-right: 2px;
        }
        button:hover {
            background:#FCFDFD;
            color: #4C6698;
            cursor: pointer;
        }
        label {
            font-weight:500;
            padding-bottom:1px;
        }
        input[type=text] {
            border:1px solid rgba(76,102,152,0.3);
            border-radius: 5px;
            padding:7px 0;
            width: 100%;
            padding-left: 5px;
            font-size: 14px;
        }
        .errMessage {
            color: red !important;
            float: left;
            padding-top: 5px;
        }
        .inputError {
            border-color: red !important;
        }
    }
    .bottom {
        position: absolute;
        bottom: 20px;
        p {
            margin: 10px auto;
        }
    }
}

.text-right {
    text-align: right;
}